#section-reviews {
  background-image: url('/assets/reviews-background.jpg');
  background-attachment: fixed;
  @include parallax-background;

  .heading {
    padding-top: $spacing-md;
    padding-bottom: $spacing-sm;
    h2 {
      font-family: $ff-roboto-condensed;
      font-weight: 700;
      color: $c-white;
    }
  }

}
